{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

    <div class="text-center mw-500 m-auto">
        <div class="mb-4">
           <h4>
               프로젝트 생성
           </h4>
        </div>
        <div>
            <form action="{% url 'projectapp:create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 {% bootstrap_form form %}

                <input type="submit" class="btn btn-dark col-6 mt-3">

            </form>
        </div>
    </div>

{% endblock %}